<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./clear.js"></script>
    <title>elfpm public search</title>
  </head>
  <body>
    <h3 style="margin-left: 40px;">elfpm web search interface</h3>
    <div style="margin-left: 40px;">
      <i><p>Please enter a registered username to get the public key and its signature</p></i>
     	<form action="https://localhost.daplie.com:3012/search" method="post">
     	  <input name="username" type="text" placeholder="username..">
     	  <input id="search-btn" type="submit" value="Search">
      </form>
      <% if (err) { %>
        <p>error: <%= err %></p>
      <% } %>
    </div>
  </body>
</html>
