<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>elfocrypt - add friend</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body>
    <form class="form">
      <label class="searchlink">Please go to the<a id="search-link" href="https://localhost.daplie.com:3761/search"> <i><strong>web search</strong></i></a> to get your friend's public key and signature.</label>
      <div class="form-group">
        <input id="usern" type="text" class="form-control" placeholder="username.." autofocus>
      </div>
      <div class="form-group">
        <input id="pubkey" type="text" class="form-control" placeholder="public key..">
      </div>
      <div class="form-group">
        <input id="sig" type="text" class="form-control" placeholder="public key signature..">
      </div>
      <div class="form-actions">
        <button id="verify-btn" type="submit" class="btn btn-success">Verify and add</button>
      </div>
    </form>
    <script>require('./handler/addfrd.js')</script>
  </body>
</html>
