<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>elfpm - authenticated</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style-chat.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- ========== friend list ========== -->
      <div id="friend-ls-pan" class="list-group col-md-2">
        <div class="btn-group btn-group-justified">
          <div class="btn-group" role="group">
            <button id="add-btn" class="btn btn-primary btn-block" type="submit">Add friend</button>
          </div>
        </div>
        <div id="frd-ls"> 
        </div>
      </div>

      <div id="chat-pan" class="col-md-10 col-lg-6">
        <div class="panel">
          <!--Heading-->
          <div class="panel-heading">
            <div class="col-xs-5"><input id="receiver" type="text" placeholder="Receiver.." class="form-control chat-input" /></div>
            <div><button id="logout-btn" type="button" class="btn btn-default">Log out</button></div>
          </div>
          <!--Widget body-->
          <div id="chat-body" class="chat-bg">
            <div class="nano has-scrollbar" style="height:400px">
              <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                <ul class="list-unstyled media-block">

                  <li class="mar-btm">
                    <div class="media-left">
                      <h4><span class="label label-info">Bob</span></h4>
                    </div>
                    <div class="media-body pad-hor">
                      <div class="speech">
                        <p>Hello Alice, I send yoiu this encrypted message.</p>
                        <p class="speech-time"><i class="fa fa-clock-o fa-fw"></i>09:23AM</p>
                      </div>
                    </div>
                  </li>

                  <li class="mar-btm">
                    <div class="media-right">
                      <h4><span class="label label-warning">Alice</span></h4>
                    </div>
                    <div class="media-body pad-hor speech-right">
                      <div class="speech">
                        <p>Hi Bob, yeah I see. It's pretty cool!</p>
                        <p class="speech-time"><i class="fa fa-clock-o fa-fw"></i> 09:25AM</p>
                      </div>
                    </div>
                  </li>

                  <li class="mar-btm">
                    <div class="media-left">
                      <h4><span class="label label-info">Bob</span></h4>
                    </div>
                    <div class="media-body pad-hor">
                      <div class="speech">
                        <p>Ok Alice I will see you soon.</p>
                        <p class="speech-time"><i class="fa fa-clock-o fa-fw"></i>09:27AM</p>
                      </div>
                    </div>
                  </li>

                  <li class="mar-btm">
                    <div class="media-right">
                      <h4><span class="label label-warning">Alice</span></h4>
                    </div>
                    <div class="media-body pad-hor speech-right">
                      <div class="speech">
                        <p>great bob, have a nice day.</p>
                        <p class="speech-time"><i class="fa fa-clock-o fa-fw"></i> 09:28AM</p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              <div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);">
                </div>
              </div>
            </div>
            <!--Widget footer-->
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-9">
                  <input id="msg-inp" type="text" placeholder="Enter your text" class="form-control chat-input" />
                </div>
                <div class="col-xs-3">
                  <button id="send-btn" class="btn btn-primary btn-block" type="submit">Send</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script>require('./handler/chat.js')</script>
  </body>
</html>
