<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>elfpm - authenticated</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style-chat.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- ========== friend list ========== -->
      <div id="friend-ls-pan" class="list-group col-md-2">
        <div class="btn-group btn-group-justified">
          <div class="btn-group" role="group">
            <button id="add-btn" class="btn btn-primary btn-block" type="submit">Add friend</button>
          </div>
        </div>
        <div id="frd-ls"> 
        </div>
      </div>

      <div id="chat-pan" class="col-md-10 col-lg-6">
        <div class="panel">
          <!--Heading-->
          <div class="panel-heading">
            <div class="col-xs-5"><input id="receiver" type="text" placeholder="Receiver.." class="form-control chat-input" /></div>
            <div><button id="logout-btn" type="button" class="btn btn-default">Log out</button></div>
          </div>
          <!--chat body-->
          <div id="chat-body" class="chat-bg">
            <div class="nano has-scrollbar" style="height:400px">
              <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                <ul id="msg-list" class="list-unstyled media-block">

                </ul>
              </div>
              <div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);">
                </div>
              </div>
            </div>
            <!--chat footer-->
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-9">
                  <input id="msg-inp" type="text" placeholder="Enter your text" class="form-control chat-input" />
                </div>
                <div class="col-xs-3">
                  <button id="send-btn" class="btn btn-primary btn-block" type="submit">Send</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script>require('./handler/chat.js')</script>
  </body>
</html>
