<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>elfpm - register</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body>
    <form class="form">
      <div class="form-group">
        <input id="usern" type="text" class="form-control" placeholder="username..">
      </div>
      <div class="form-group">
        <input id="passw" type="password" class="form-control" placeholder="password..">
      </div>
      <div class="form-actions">
        <button id="reg-btn" type="submit" class="btn btn-primary">Create account</button>
      </div>
    </form>
    <script>require('./handler/register.js')</script>
  </body>
</html>
